<!DOCTYPE html>
<html>
<head>
    <title>Blog Vue example</title>
</head>
<body>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <div id="blogplaceholder">

        <div class="blog-masthead">
            <div class="container">
                <nav class="blog-nav">
                    <a class="blog-nav-item active" href="#">Home</a>
                    <a class="blog-nav-item" href="http://sam.js.org">About</a>
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title" v-once>{{constants.blogTitle}}</h1>
                <p class="lead blog-description" v-once>{{constants.blogDescription}}</p>
            </div>

            <div class="row">

                <div class="col-sm-8 blog-main">

                    <div v-for="post in viewModel.posts">
                        <br>
                        <br>
                        <h3 class="blog-post-title">{{post.Title}}</h3>
                        <p class="blog-post-meta">{{post.Description}}</p>
                        <button v-on:click="remove({ 'id': post.Id })">Delete</button>
                    </div>

                    <br>
                    <br>
                    <div class="mdl-cell mdl-cell--6-col">
                        <input v-model="newPostTitle" id="title" type="text" class="form-control" :placeholder="viewModel.titleValue"><br>
                        <input v-model="newPostDescription" id="description" type="text" class="form-control" :placeholder="viewModel.descriptionValue"><br>
                        <button id="save" v-on:click="save({ 'title': newPostTitle, 'description': newPostDescription })" v-text="viewModel.actionLabel"></button>

                        <button v-if="viewModel.showCancel" id="cancel" v-on:click="">Cancel</button>

                    </div>
                </div>
            </div>
        </div>

        <footer class="blog-footer">
            <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            <p>
                <a href="#">Back to top</a>
            </p>
        </footer>

    </div>


    <script>
        var COUNTER_MAX = 10;

        let vue = new Vue({

            el: '#blogplaceholder',

            // Model
            data: {
                constants: {
                    blogTitle: 'The SAM Pattern Blog',

                    blogDescription: 'The official blog sample impleting the SAM Pattern'
                },

                samVariantToUse: 'server',

                endpoint: 'http://localhost:2673',

                newPostTitle: '',

                newPostDescription: '',


                viewModel: {

                    posts: [
                    ],

                    showCancel: false,

                    titleValue: '',

                    descriptionValue: '',

                    id: '',

                    valAttr: '',

                    actionLabel: '',

                    idElement: '',

                    intents: '',
                }
            },

            created: function () {
                // `this` points to the vm instance
                if (this.samVariantToUse === 'client') {
                    // client side
                    view.display(view.init(model));
                }
                else if (this.samVariantToUse === 'server') {
                    // server side
                    this.handle = this.dispatch;  // set the handler of the actions the dispatcher function.
                    var model = this.viewModel;

                    axios.get(this.endpoint + '/api/samsafe/init')
                        .then(response => {
                            // JSON responses are automatically parsed.
                            model.posts = response.data.posts;
                            model.showCancel = response.data.showCancel;
                            model.titleValue = response.data.titleValue;
                            model.descriptionValue = response.data.descriptionValue;
                            model.id = response.data.id;
                            model.valAttr = response.data.valAttr;
                            model.actionLabel = response.data.actionLabel;
                            model.idElement = response.data.idElement;
                            model.intents = response.data.intents;
                            console.log(model.posts);
                        })
                        .catch(e => {
                            console.log('Oops something went wrong!')
                        })
                    console.log(model.posts);
                }
            },

            methods: {

                handle: function (data) {
                    // default action handler.
                    // should be implemented or set to a delegate (eg dispatcher)
                    throw new Error('Not implemented');
                },

                edit: function (data) {
                    // data.lastEdited = {title: data.title,  description: data.description, id: data.id } ;
                    data.__action = 'edit';
                    actions.handle(data);
                    return false;
                },

                save: function (data) {
                    var proposal = { item: data };
                    proposal.__action = 'save';
                    this.handle(proposal);
                    this.newPostTitle = '';
                    this.newPostDescription = '';
                    return false;
                },

                remove: function (data) {
                    data.__action = 'delete';
                    this.handle(data);
                    return false;
                },

                cancel: function (data) {
                    data = data || {};
                    data.__action = 'cancel';
                    actions.handle(data);
                    return false;
                },

                dispatch: function (data) {

                    if (this.samVariantToUse === 'client') {
                        // client side
                        model.present(data);
                    }
                    else if (this.samVariantToUse === 'server') {
                        // server side

                        var model = this.viewModel;

                        axios.post(this.endpoint + '/api/samsafe/dispatch', data,
                            { headers: { 'Content-Type': 'application/json' } })
                            .then(response => {
                                // JSON responses are automatically parsed.
                                model.posts = response.data.posts;
                                model.showCancel = response.data.showCancel;
                                model.titleValue = response.data.titleValue;
                                model.descriptionValue = response.data.descriptionValue;
                                model.id = response.data.id;
                                model.valAttr = response.data.valAttr;
                                model.actionLabel = response.data.actionLabel;
                                model.idElement = response.data.idElement;
                                model.intents = response.data.intents;
                            })
                            .catch(e => {
                                console.log('Oops something went wrong!')
                            });
                    }
                }
            },

            computed: {

                // State
                readyState: function () {
                    return ((this.counter === COUNTER_MAX) && !this.edited && !this.saved && !this.deleted);
                },

                countingState: function () {
                    return ((this.counter <= COUNTER_MAX) &&
                        (this.counter >= 0) &&
                        this.edited &&
                        !this.saved &&
                        !this.deleted);
                },

                savedState: function () {
                    return ((this.counter == 0) && this.edited && this.saved && !this.deleted);
                },

                deletedState: function () {
                    return ((this.counter <= COUNTER_MAX) &&
                        (this.counter >= 0) &&
                        this.edited &&
                        !this.saved &&
                        this.deleted);
                }
            }
        });

    </script>
</body>
</html>